@model IEnumerable<Personeel.MVCSite.Models.EventViewModels.EventIndexViewModel>

@{
    ViewBag.Title = "LeaveReport";
}
@section headers{

}
@using (Html.BeginForm())
{
    <input type="date" name="startTime" value="" placeholder="开始日期" />
    <input type="date" name="endTime" value="" placeholder="结束日期" />
    <input type="submit" value="查询" class="btn btn-success" />
}
<br />
<br />

<div id="main" style="width: 600px;height:400px;"></div>

<script type="text/javascript">

    $(function () {

        $('#p1').css('color', 'red');

        $.ajax({
            type: "POST",
            url: "/Personnel/Reports/LeaveReport",
            data: {},
            success: function (data) {
                var myChart = echarts.init(document.getElementById('main'));
                // 指定图表的配置项和数据
                var option = {
                    legend: {
                        data: ['人数']
                    },
                    xAxis: {
                        data: ['事假', '病假', '年假', '产假', '丧家', '其他']
                    },
                    yAxis: {},
                    series: [{
                        name: '人数',
                        type: 'bar',
                        data: data.numb
                    }]
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            },  //end success
            error: function (jqXHR) {

            }
        });  //end ajax
    }); //end page ready

</script>
