
@{
    ViewBag.Title = "PersonReprot";
}
@section headers{
    <script src="~/Scripts/echarts.js"></script>
}
<form>
    <span>入职日期：</span>
    <input type="date" id="start" name="start" value="" placeholder="开始日期" />
    <input type="date" id="end" name="end" value="" placeholder="结束日期" />
    <span>部门：</span>
    <select name="depGuid" id="depGuid">
        <option name="depGuid" id="depGuid" value=""></option>
        @foreach (var userItem in ViewBag.Department)
        {
            <option name="depGuid" id="depGuid" value="@userItem.DepGuid">@userItem.DepName</option>
        }
    </select>
    <input type="button" id="search" value="查询" class="btn btn-success" />
</form>
<br />
<br />
<div class="row">
    <div>
        <div id="gender" style="width: 500px;height:300px;"class="col-md-5"></div>
        <div class="col-md-1"> </div>
        <div id="age" style="width: 500px;height:300px;" class="col-md-5"></div>
    </div>
</div>
<div class="row">
    <div>
        <div id="xueli" style="width: 500px;height:300px;" class="col-md-5"></div>
        <div class="col-md-1"> </div>
        <div id="wedlock" style="width: 500px;height:300px;" class="col-md-5"></div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $(function () {
            $.ajax({
                type: "POST",
                url: "/Reports/GetPerson/",
                data: {

                },
                success: function (data) {
                    var genderData = JSON.stringify(data.Gender).replace(/\"/g, "");
                    genderData = genderData.replace(/\:/g, "\:\"").replace(/\,/g, "\"\,").replace(/\}\]/g, "\"\}\]").replace(/\}\"\,\{/g, "\"\}\,\{");
                    data.Gender = eval('(' + genderData + ')');
                    var ageData = JSON.stringify(data.Age).replace(/\"/g, "");
                    ageData = ageData.replace(/\:/g, "\:\"").replace(/\,/g, "\"\,").replace(/\}\]/g, "\"\}\]").replace(/\}\"\,\{/g, "\"\}\,\{");
                    data.Age = eval('(' + ageData + ')');
                    var xueliData = JSON.stringify(data.Xueli).replace(/\"/g, "");
                    xueliData = xueliData.replace(/\:/g, "\:\"").replace(/\,/g, "\"\,").replace(/\}\]/g, "\"\}\]").replace(/\}\"\,\{/g, "\"\}\,\{");
                    data.Xueli = eval('(' + xueliData + ')');
                    var wedlockData = JSON.stringify(data.Wedlock).replace(/\"/g, "");
                    wedlockData = wedlockData.replace(/\:/g, "\:\"").replace(/\,/g, "\"\,").replace(/\}\]/g, "\"\}\]").replace(/\}\"\,\{/g, "\"\}\,\{");
                    data.Wedlock = eval('(' + wedlockData + ')');

                    var genderChart = echarts.init(document.getElementById('gender'));
                    var ageChart = echarts.init(document.getElementById('age'));
                    var xueliChart = echarts.init(document.getElementById('xueli'));
                    var wedlockChart = echarts.init(document.getElementById('wedlock'));
                    // 指定图表的配置项和数据
                    var genderoption = {
                        title: {
                            text: '性别分布',
                            subtext: '',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'item'
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left'
                        },
                        series: [
                            {
                                name: '性别',
                                type: 'pie',
                                radius: '50%',
                                data: data.Gender,
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    var ageoption = {
                        title: {
                            text: '年龄分布',
                            subtext: '',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'item'
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left'
                        },
                        series: [
                            {
                                name: '区间',
                                type: 'pie',
                                radius: '50%',
                                data: data.Age,
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    var xuelioption = {
                        title: {
                            text: '学历分布',
                            subtext: '',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'item'
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left'
                        },
                        series: [
                            {
                                name: '区间',
                                type: 'pie',
                                radius: '50%',
                                data: data.Xueli,
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    var wedlockoption = {
                        title: {
                            text: '婚姻状况',
                            subtext: '',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'item'
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left'
                        },
                        series: [
                            {
                                name: '区间',
                                type: 'pie',
                                radius: '50%',
                                data: data.Wedlock,
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    // 使用刚指定的配置项和数据显示图表。
                    genderChart.setOption(genderoption);
                    ageChart.setOption(ageoption);
                    xueliChart.setOption(xuelioption);
                    wedlockChart.setOption(wedlockoption);
                },  //end success
                error: function (jqXHR) {
                    alert(1);
                }
            });  //end ajax
        });

        $("#search").click(function () {

            var start = $("#start").val();
            var end = $("#end").val();
            var depGuid = $("#depGuid").val();
            $.ajax({
                type: "POST",
                url: "/Reports/GetPerson/",
                data: {
                    "start": start,
                    "end": end,
                    "depGuid": depGuid
                },
                success: function (data) {
                    var genderData = JSON.stringify(data.Gender).replace(/\"/g, "");
                    genderData = genderData.replace(/\:/g, "\:\"").replace(/\,/g, "\"\,").replace(/\}\]/g, "\"\}\]").replace(/\}\"\,\{/g, "\"\}\,\{");
                    data.Gender = eval('(' + genderData + ')');
                    var ageData = JSON.stringify(data.Age).replace(/\"/g, "");
                    ageData = ageData.replace(/\:/g, "\:\"").replace(/\,/g, "\"\,").replace(/\}\]/g, "\"\}\]").replace(/\}\"\,\{/g, "\"\}\,\{");
                    data.Age = eval('(' + ageData + ')');
                    var xueliData = JSON.stringify(data.Xueli).replace(/\"/g, "");
                    xueliData = xueliData.replace(/\:/g, "\:\"").replace(/\,/g, "\"\,").replace(/\}\]/g, "\"\}\]").replace(/\}\"\,\{/g, "\"\}\,\{");
                    data.Xueli = eval('(' + xueliData + ')');
                    var wedlockData = JSON.stringify(data.Wedlock).replace(/\"/g, "");
                    wedlockData = wedlockData.replace(/\:/g, "\:\"").replace(/\,/g, "\"\,").replace(/\}\]/g, "\"\}\]").replace(/\}\"\,\{/g, "\"\}\,\{");
                    data.Wedlock = eval('(' + wedlockData + ')');

                    var genderChart = echarts.init(document.getElementById('gender'));
                    var ageChart = echarts.init(document.getElementById('age'));
                    var xueliChart = echarts.init(document.getElementById('xueli'));
                    var wedlockChart = echarts.init(document.getElementById('wedlock'));
                    // 指定图表的配置项和数据
                    var genderoption = {
                        title: {
                            text: '性别分布',
                            subtext: '',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'item'
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left'
                        },
                        series: [
                            {
                                name: '性别',
                                type: 'pie',
                                radius: '50%',
                                data: data.Gender,
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    var ageoption = {
                        title: {
                            text: '年龄分布',
                            subtext: '',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'item'
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left'
                        },
                        series: [
                            {
                                name: '区间',
                                type: 'pie',
                                radius: '50%',
                                data: data.Age,
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    var xuelioption = {
                        title: {
                            text: '学历分布',
                            subtext: '',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'item'
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left'
                        },
                        series: [
                            {
                                name: '区间',
                                type: 'pie',
                                radius: '50%',
                                data: data.Xueli,
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    var wedlockoption = {
                        title: {
                            text: '婚姻状况',
                            subtext: '',
                            left: 'center'
                        },
                        tooltip: {
                            trigger: 'item'
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left'
                        },
                        series: [
                            {
                                name: '区间',
                                type: 'pie',
                                radius: '50%',
                                data: data.Wedlock,
                                emphasis: {
                                    itemStyle: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                    };
                    // 使用刚指定的配置项和数据显示图表。
                    genderChart.setOption(genderoption);
                    ageChart.setOption(ageoption);
                    xueliChart.setOption(xuelioption);
                    wedlockChart.setOption(wedlockoption);
                },  //end success
                error: function (jqXHR) {
                    alert(1);
                }
            });  //end ajax
        });
    });

</script>